<div id="<%= dom_id user %>">
  <p>
    <strong>Email:</strong>
    <%= user.email %>
    <strong>First Name:</strong>
    <%= user.first_name %>
    <strong>Last Name:</strong>
    <%= user.last_name %>
    <strong>address:</strong>
    <%= user.address %>
  </p>

</div>
